body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #35374B;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #a3c8ad;
    font-family: "Poetsen One", sans-serif;
    font-weight: 500px;
    font-size: 70px;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
      }
      
h2 {
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 0;
    color:#a3c8ad
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
    max-width: 1200px;
}

#mortgageForm {
    width: 45%;
    padding: 20px;
    background-color: #344955;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

#mortgageForm label {
    display: block;
    margin-bottom: 10px;
}

#mortgageForm input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #50727B;
    color: #ffffff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove default spinner controls */
    appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox-specific property to remove spinner controls */
}

#mortgageForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #78A083;
    color: #ffffff;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size:20px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

#mortgageForm button:hover {
    background-color: #50727B;
}

.propertyValueDisplay{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
    font-size:40px;
    color:#a3c8ad;

}

#sliderInstruction{
    font-size:small;
}
.col-xs-12 {
    width: 100%;
}

.propertyValue__slider {
    margin-bottom: 20px;
}

.propertyValue__fine-tune {
    margin-bottom: 10px;
    color: #78A083;
}

.pg-slider {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the slider takes the full width of its container */
    position: relative; /* Added to ensure children with absolute positioning are relative to this container */
}

.pg-slider__before,
.pg-slider__after {
    flex: 0 0 auto;
    margin: 0 10px;
    color: #78A083;
}

.pg-slider__track {
    position: absolute;
    top: 7px;
    bottom: calc(26px / 2);
    left: 63px;
    right: 128px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 6px;
    overflow: hidden;
    pointer-events: none;
    background: #ccc;
    z-index: 1;
}

.pg-slider__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #78A083; /* Ensure this contrasts with the track */
    border-radius: 5px;
    width: 0; /* Initial width, will be adjusted with JS */
    
}
.pg-slider__thumb {
    position:relative;
    appearance: none;
    width: 100%;
    height: 6px;
    background: transparent;
    cursor: pointer;
    outline: none; /* Remove outline for better appearance */
    z-index: 2;
}

.pg-slider__thumb::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #78A083;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #50727B;
    /* margin-top: -3px; Align thumb with track */
}

.pg-slider__thumb::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #78A083;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #50727B;
    /* margin-top: -3px; Align thumb with track */
}
.mortgageContainer {
    max-width: 100%; /* Set a maximum width for the container */
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    /* text-align: right; Right-align the content inside the container */
}

/* Right-align input when user types and aesthetic adjustments*/
.right-align {
    text-align: right;
    font-size: 20px;

}

.mortgageItem {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.mortgageField {
    flex: 0 0 calc(50% - 10px); /* Each field takes 50% of the container width with a gap of 20px */
    margin-right: 20px; /* Adds a gap of 20px between items */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.mortgageField:last-child {
    margin-right: 0;
}

.horizontal-line {
    border: none;
    border-top: solid;
    border-color:#a3c8ad;
    border-width: 5px;
}

.personContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.moneyInput{
    font-size: 20px;
    
}

.personItem {
    width: calc(50% - 10px); /* Two columns, each taking 50% of the container width with a gap of 20px */
    margin-right: 20px; /* Adds a gap of 5px between items */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* To remove the margin from the last item */
.personItem:last-child {
    margin-right: 0;
}


.calculation-results {
    width: 45%;
    padding: 20px;
    background-color: #344955;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.calculation-results p {
    margin-bottom: 10px;
}

.calculation-results span {
    font-weight: bold;
    color: #78A083;
    font-size: 40px;
}

#cashTopUp{
    font-style: italic;
    font-weight: lighter;
    color:#f7d059;
}

    #mortgageForm, .calculation-results {
        width: 90%;
        margin-bottom: 20px;
    }

    .footer {
        background-color: #344955;
        color: white;
        text-align: center;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        position: block;
        bottom: 0;
        font-size: 10px;
    }

/* Style for the burger menu */
.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
    cursor: pointer;
}

.burger {
    width: 100%;
    height: 5px;
    background-color: #a0dbc6;
    border-radius: 2px;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #344955;
    border-radius: 5px;
    padding: 10px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}

.menu a:hover {
    background-color: #50727B;
    border-radius: 5px;
    padding-left: 10px;
}

/*STYLES for ABOUT PAGE*/

/* Background image styling */
.background {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('./Assets/background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    vertical-align: center;
    justify-content: center;
}

/* Overlay styling */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Translucent overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutContent {
    background: rgba(255, 255, 255, 0.495); 
    padding: 30px;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
}
/* Button styles */
.aboutNavigation button {
    background-color: #78A083;
    border: none;
    color: white;
    width: 200px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

.aboutContent button:hover {
    background-color: #50727B;
}

/* Ensure the entire height is utilized and the footer is at the bottom */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Allow the content to expand and push the footer to the bottom */
    text-align: center;
    color: white;
    padding: 20px;
}

.content p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}


/*STYLES for ASSUMPTIONS PAGE*/
.assumptionsContainer {
    text-align:center;
    padding-left: 20px;
    padding-right: 40px;
    margin: 80px;
}
/* Button styles */
.buttonContainer {
    display: flex;
    justify-content: center; /* Center the button */
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust as needed */
}
.buttonContainer button {
   text-align: center;
    background-color: #78A083;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

.assumptionsContent button:hover {
    background-color: #50727B;
}

.assumptionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.assumptionBox {
    background-color: #344955;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: left;
}

.assumptionBox h3 {
    color: #a3c8ad;
    font-size: 20px;
    margin-bottom: 10px;
}

.assumptionBox p {
    font-size: 16px;
    line-height: 1.5;
}

@media only screen and (min-width: 601px) {
    .footer {
        background-color: #344955;
        color: white;
        text-align: center;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .overlay h1 {
        font-size:35px
    }
    .aboutNavigation button {
        margin-top:5px;
        margin-bottom: 5px;
    }
}